header {
  background-color: #2A2A2A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.your-name {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin: auto 20px;
}
